<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://raw.githubusercontent.com/ChenBo233/OTA/master/baoko.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>
                    你的服务器下载时URL图片 2倍图
                    </string>
                    </dict>
                    <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>
                    你的服务器下载时的图片地址
                    </string
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.Baoko.baoko.InHouse</string>
                <key>bundle-version</key>
                <string>2.6.3</string>
                <key>kind</key>
                <string>software</string>
                <key>releaseNotes</key>
                <string>123456789</string>
                <key>title</key>
                <string>保库达人</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
